@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}


/*.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}*/

.main-menu {
    background: radial-gradient(circle, rgb(75, 106, 125) 0%, rgb(52, 73, 80) 100%);
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 200px;
    overflow: hidden;
    /*-webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;*/
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    /*-webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;*/

}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #55a796;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
    display: flex;
}

body {
    background-color: #cddff6;
}

#img {
    width: 50%;
    border-width: 10px;
    border-radius: 10%;
    -webkit-border-radius: 50%;
    filter: drop-shadow(-24px 40px 100px #535353);
    -webkit-filter: drop-shadow(0px 0px 21px black);
    bottom: 20%;
    margin-left: 30%;
    margin-top: 100px;
}

.figure{
    margin-left: 0;
}

.img{
    border-radius: 5%;
}

article {
    text-align: justify;
    margin-left: 13.5%;
}

article h1 {
    text-align: center;
    color: #34495E;
    font-family: 'Roboto', sans-serif;
}

article p {
    text-align: center;
    color: #34495E;
    font-family: 'Roboto', sans-serif;
}

#info-container {
    width: max-content;
}

#list-theme{
        float: right;
        margin-right: 15px;
        margin-top: 100px;
        background: radial-gradient(circle, rgb(148 176 193) 0%, rgb(52, 73, 80) 100%);
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
}

#pseint {
    width: 50%;
    margin-left: 30%;
    margin-top: 100px;
}

main {
    margin-left: 80px;
}

#main-info {
    margin-left: 29%;
}

.box {
    position: absolute;
    margin-left: 300px;
}

.box h1,
h3 {
    color: #34495E;
    font-family: 'Roboto', sans-serif;
}

.box p {
    margin-bottom: 10px;
    width: 747px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.box iframe {
    border-radius: 10px;
    width: 760px;
    ;
    height: 300px;
}

.code {
    background: radial-gradient(circle, rgb(75, 106, 125) 0%, rgb(52, 73, 80) 100%);
    color: white;
    border-radius: 10px;
    width: 100vh;
    height: max-content;
    text-align: left;
}

h2 {
    color: #fffbf1;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  h2:before,
  h2:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 15px solid #49687a;
    border-radius: 20px;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  
  h2:before {
    border-color: #49687a #49687a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  h2:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #49687a #49687a;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
    
  }


@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}